<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>files</key>
	<dict>
		<key>Base.lproj/LaunchScreen.storyboardc/01J-lp-oVM-view-Ze5-6b-2t3.nib</key>
		<data>
		ld+cFUotSYJR/kdv0G/ZdZm8N1U=
		</data>
		<key>Base.lproj/LaunchScreen.storyboardc/Info.plist</key>
		<data>
		n2t8gsDpfE6XkhG31p7IQJRxTxU=
		</data>
		<key>Base.lproj/LaunchScreen.storyboardc/UIViewController-01J-lp-oVM.nib</key>
		<data>
		2jL8MuLMilN9Eo/xnzB0Z/AKgxI=
		</data>
		<key>Info.plist</key>
		<data>
		nCCScswpxX/vjg1Ib/dSYv116sc=
		</data>
		<key>Main.storyboardc/Info.plist</key>
		<data>
		h/qrHehxHBZy29WTi4bHKzzV7CI=
		</data>
		<key>Main.storyboardc/UIViewController-whP-gf-Uak.nib</key>
		<data>
		ymHYBtlJ7epn1AH8erMMMDfWL0Y=
		</data>
		<key>Main.storyboardc/whP-gf-Uak-view-TpU-gO-2f1.nib</key>
		<data>
		svIA7j7XjMKDfcffCnv/26cfcsk=
		</data>
		<key>PkgInfo</key>
		<data>
		n57qDP4tZfLD1rCS43W0B4LQjzE=
		</data>
		<key>en.lproj/InfoPlist.strings</key>
		<dict>
			<key>hash</key>
			<data>
			zmV6UqBSo6r1NOz798vd5O4zTBA=
			</data>
			<key>optional</key>
			<true/>
		</dict>
	</dict>
	<key>files2</key>
	<dict>
		<key>Base.lproj/LaunchScreen.storyboardc/01J-lp-oVM-view-Ze5-6b-2t3.nib</key>
		<dict>
			<key>hash</key>
			<data>
			ld+cFUotSYJR/kdv0G/ZdZm8N1U=
			</data>
			<key>hash2</key>
			<data>
			e2sImJiFIboK/sdSVXnUE7Qhz0cx0sgI1WGLP/f3ni4=
			</data>
		</dict>
		<key>Base.lproj/LaunchScreen.storyboardc/Info.plist</key>
		<dict>
			<key>hash</key>
			<data>
			n2t8gsDpfE6XkhG31p7IQJRxTxU=
			</data>
			<key>hash2</key>
			<data>
			HyVdXMU7Ux4/KalAao30mpWOK/lEPT4gvYN09wf31cg=
			</data>
		</dict>
		<key>Base.lproj/LaunchScreen.storyboardc/UIViewController-01J-lp-oVM.nib</key>
		<dict>
			<key>hash</key>
			<data>
			2jL8MuLMilN9Eo/xnzB0Z/AKgxI=
			</data>
			<key>hash2</key>
			<data>
			3n9/wjn+tvqkULon9VwVd7FUcWVcSkINqLB09dRjDxs=
			</data>
		</dict>
		<key>Main.storyboardc/Info.plist</key>
		<dict>
			<key>hash</key>
			<data>
			h/qrHehxHBZy29WTi4bHKzzV7CI=
			</data>
			<key>hash2</key>
			<data>
			/dXp/VwdzCfq8c4YlCrNb8zW/fZ9tXrlfioUW1kDPR8=
			</data>
		</dict>
		<key>Main.storyboardc/UIViewController-whP-gf-Uak.nib</key>
		<dict>
			<key>hash</key>
			<data>
			ymHYBtlJ7epn1AH8erMMMDfWL0Y=
			</data>
			<key>hash2</key>
			<data>
			5QOuiBTR3R6i2a+XPQwvhmbcH3RM9j44OMTskgesimc=
			</data>
		</dict>
		<key>Main.storyboardc/whP-gf-Uak-view-TpU-gO-2f1.nib</key>
		<dict>
			<key>hash</key>
			<data>
			svIA7j7XjMKDfcffCnv/26cfcsk=
			</data>
			<key>hash2</key>
			<data>
			W7AXyoMipDfmzGDYD+M3zBi/fKVPFUYkYSBunoiAego=
			</data>
		</dict>
		<key>en.lproj/InfoPlist.strings</key>
		<dict>
			<key>hash</key>
			<data>
			zmV6UqBSo6r1NOz798vd5O4zTBA=
			</data>
			<key>hash2</key>
			<data>
			kmHsztpgjvF0JW5f3HdMHm49z1M0CcG8OT1JDQHHE/E=
			</data>
			<key>optional</key>
			<true/>
		</dict>
	</dict>
	<key>rules</key>
	<dict>
		<key>^</key>
		<true/>
		<key>^.*\.lproj/</key>
		<dict>
			<key>optional</key>
			<true/>
			<key>weight</key>
			<real>1000</real>
		</dict>
		<key>^.*\.lproj/locversion.plist$</key>
		<dict>
			<key>omit</key>
			<true/>
			<key>weight</key>
			<real>1100</real>
		</dict>
		<key>^Base\.lproj/</key>
		<dict>
			<key>weight</key>
			<real>1010</real>
		</dict>
		<key>^version.plist$</key>
		<true/>
	</dict>
	<key>rules2</key>
	<dict>
		<key>.*\.dSYM($|/)</key>
		<dict>
			<key>weight</key>
			<real>11</real>
		</dict>
		<key>^</key>
		<dict>
			<key>weight</key>
			<real>20</real>
		</dict>
		<key>^(.*/)?\.DS_Store$</key>
		<dict>
			<key>omit</key>
			<true/>
			<key>weight</key>
			<real>2000</real>
		</dict>
		<key>^(Frameworks|SharedFrameworks|PlugIns|Plug-ins|XPCServices|Helpers|MacOS|Library/(Automator|Spotlight|LoginItems))/</key>
		<dict>
			<key>nested</key>
			<true/>
			<key>weight</key>
			<real>10</real>
		</dict>
		<key>^.*</key>
		<true/>
		<key>^.*\.lproj/</key>
		<dict>
			<key>optional</key>
			<true/>
			<key>weight</key>
			<real>1000</real>
		</dict>
		<key>^.*\.lproj/locversion.plist$</key>
		<dict>
			<key>omit</key>
			<true/>
			<key>weight</key>
			<real>1100</real>
		</dict>
		<key>^Base\.lproj/</key>
		<dict>
			<key>weight</key>
			<real>1010</real>
		</dict>
		<key>^Info\.plist$</key>
		<dict>
			<key>omit</key>
			<true/>
			<key>weight</key>
			<real>20</real>
		</dict>
		<key>^PkgInfo$</key>
		<dict>
			<key>omit</key>
			<true/>
			<key>weight</key>
			<real>20</real>
		</dict>
		<key>^[^/]+$</key>
		<dict>
			<key>nested</key>
			<true/>
			<key>weight</key>
			<real>10</real>
		</dict>
		<key>^embedded\.provisionprofile$</key>
		<dict>
			<key>weight</key>
			<real>20</real>
		</dict>
		<key>^version\.plist$</key>
		<dict>
			<key>weight</key>
			<real>20</real>
		</dict>
	</dict>
</dict>
</plist>
